{% if is_paginated %}
<nav class="pagination" aria-label="Постраничная навигация">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">&larr;</a>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <a href="?page={{ num }}{% if querystring %}&{{ querystring }}{% endif %}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">&rarr;</a>
    {% endif %}
</nav>
{% endif %}
